*{
	padding-bottom:0px;
	margin:0px;
}
.header{
	margin:0 auto;
	width:100%;
	height:164px;
	background:url("../images/bg.gif");
}
.logo{
	float:left;
	margin-top:38px;
	margin-left:120px;}
body{
	font:12px/22px "宋体"；
	text-align：center;
	color:#522a06;
	padding:0px;
	border:0px;
}
.banner{
	float:left;
	background:url(../images/nav.jpg);
	width:100%;
	height:35px;
	align:center;
}
.banner ul li{
	list-style: none;
	float:left;
	line-height:35px;
	text-decoration:none;
	color:#fff;
}
.banner ul li a{
	display: block;
	width: 80px;
	float: left;
	color:#fff;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	font-size:12px;
}
#long {
	width: 100px;
}
#shouye a{
	color:#f9f603;
}
#nav a:hover{
	text-decoration:none;
	color:#f9f603;
}
#nav_body{
	width:1200px;
	/*margin:auto;*/
	position:relative;
	left:70px;
}
#nav{
	width:850px;
	float:left;
	
}
#nav_right{
	width:300px;
	float:right;
	
}
.but{
	background-color:#f8f5ee;
	width:140px;
	height:18px;
	margin-top:6px;
}
.sousuo{
	background-color:#000;
	width:44px;
	height:22px;
	color:#fff;
	border:1px solid #f8f5ee;
}
.content{
	width:1050px;
	height:850px;
	margin:auto;
}
#content_left{
	font-size:13px;
	margin-top:20px;
	width:700px;
	/*background:#f00;*/
	float:left;
}
#content_left a{
	text-decoration:none;
	color:#522a06;
}
#big{
	display:block;
	/*width:300px*/
	font-weight:bold;
	font-size:15px;
	border-bottom:1px solid #522a06;
/*	background-color: red;*/
	line-height:20px;
	padding-bottom:5px;
}
#small{
	color:#666;
	margin-top:30px;
	line-height:30px;
}
#zhengwen{
	font-size:15px;
	line-height:25px;
}
#content_pic img{
	width:500px;
	height:350px;
	margin-top:25px;
	margin-left:100px;
	margin-bottom:25px;
}
#second{
	font-size:15px;
	line-height:25px;
	border-bottom:1px solid #522a06;
}
#last{
	margin-top:30px;
	float:left;
}
#content_right{
	/*background:#0f0;*/
	height:810px;
	width:350px;
	float:left;
	margin-top:20px;
}
#title1 img{
	margin-top:20px;
	margin-left:50px;
}
#content_right_top{
	background:url(../images/news_bg.png)no-repeat;
	background-size:330px 200px;
	width:330px;
	height:200px;
}
#right_text{
	margin-left:-10px;
}
#right_text ul li{
	list-style:none;
	line-height:25px;
}
#right_text a{
	text-decoration:none;
	color:#522a06;
}
#content_right_bottom{
	width:330px;
}
#picture{
	margin-top:20px;
	margin-left:70px;
}
#mingjia{
	margin-top:10px;
	background-image:url(../images/show_bg.png);
	background-repeat:no-repeat;
	background-size:330px 385px;
	width:330px;
	height:500px;
	margin-left:4px;
}
#pict img{
	margin-top:25px;
	margin-left:45px;
}
b{
	color:red;
}
#text{
	margin-top:25px;
	font-size:14px;
	width:230px;
	margin-left:45px;
}
#pictu{
	width:230px;
	margin-left:45px;
	margin-top:15px;
}



.footer{
	background:url(../images/foot.gif);
	width:100%;
	height:150px;
}
#ta ul li {
	float:left;
	list-style:none;
}
#ta ul li a{
	text-decoration:none;
	color:#522a06;
	font-weight:bold;
	font-size:13px;
	/*margin-left:50px;*/
	margin-top:50px;
	margin-bottom:1px;
}
#ta{
	margin:auto;
}
#liebiao{
	border-bottom:2px solid #522a06;
	width:500px;
	height:50px;
	line-height:40px;
	/*margin-left:50px;
	margin-top:50px;
	margin-bottom:10px;*/
}
.last{
	margin-top:10px;
}