.header{
	width:1350px;
	height:500px;
	background:url("../images/bg.jpg")no-repeat;
	background-size:1350px 500px;
	margin-top:-15px;
	margin-left:-10px;
}
.banner{
	width:500px;
	height:45px;
	background:#7799ff;
	/*opacity:0.75*/;
	float:right;
}
.banner ul li{
	float:left;
	list-style:none;
	margin-left:10px;
	color:#fff;
}
.banner li a{
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	padding:1px;
}
.banner li a:hover{
	color:orange;
}
.content{
	width:1200px;
	height:1000px;
	/*margin:auto;*/
	margin-left:100px;
}
.left{
	width:800px;
	height:1000px;
/*	background:#0f0;*/
	float:left;
}
.title{
	width:800px;
	height:60px;
/*	background:#f00;*/
	/*margin-left:200px;*/
	border-bottom:1px solid #ccc;
}
.title h3{
	margin:auto;
	margin-left:250px;
	line-height:60px;
}
.zhengwen{
	color:gray;
	font-size:18px;
	line-height:30px;
	text-indent:2em;
}
.tu{
	margin-left:180px;
}
.right{
	width:400px;
	height:1000px;
	/*background:#00f;*/
	float:left;
}
.right_pic{
	width:350px;
	height:400px;
	/*background:#f00;*/
	margin:auto;
}
.right_pic img{
	width:350px;
	height:300px;
	margin-top:57px;
}
.right_list{
	height:300px;
	width:350px;
/*	background:#000;*/
	margin:auto;
}
.right_list li{
	list-style-type:square;
	margin-left:30px;
}
.right_list a{
	text-decoration:none;
	color:green;
	line-height:50px;
}
.right_list a:hover{
	color:#00f;
	text-decoration:underline;
}
.footer{
	width:1340px;
	height:100px;
	background:#ccc;
	margin-top:10px;
	line-height:50px;
}